.what-we-do-blue-section {
    background-color: rgba(69, 181, 170, 0.5);;
    padding: 15px 0;
    color: black;
    position: relative;
    width: 100%;
    height: 50%;
    z-index: -1;
    display: flex;
    flex-direction: column;
}

.what-we-do-heading {
    text-align: center;
    font-size: 27px;
    color: rgb(255, 125, 64);
    margin: 15px auto;
}

.what-we-do-image {
    display:flex;
    margin-top: 10px;
    justify-content: center;
    align-items: center;
  }
  
  .what-we-do-image img {
      width: 70%;
      height: auto;
  }

  .what-we-do-text {
    max-width: 900px;
    margin: 20px auto;
    text-align: center;
    font-size: 18px;
    line-height: 1.6;
    padding: 0 20px;
}