.Charities-blue-section {
    background-color: rgba(69, 181, 170, 0.5);;
    padding: 15px 0;
    color: black;
    position: relative;
    width: 100%;
    height: 50%;
    z-index: 0;
    display: flex;
    flex-direction: column;
}

.charities-heading {
    text-align: center;
    font-size: 27px;
    color: rgb(255, 125, 64);
    margin: 15px auto;
}

.brand-quote-and-sub-heading {
    font-size: 16px;
}

.charities-first-row {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    grid-gap: 2rem;
    margin-bottom: 40px;
    justify-items: center;
    margin-left: 30px;

}

.charities-second-row {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    grid-gap: 2rem;
    justify-items: center;
    padding: 20px 20px;
}

.charity-logos img {
    width: 100%;
    height: auto;
    object-fit: contain;
    display: block;
}

.charity-logos img {
    width: 100%;
    height: 100%;
    object-fit: contain; 
    display: block;
}

@media (max-width: 600px) {
    .charities-heading {
      font-size: 24px;
      margin-top: 20px;
    }
  
    .charities-first-row, .charities-second-row {
      grid-template-columns: repeat(2, 1fr); 
      grid-gap: 1rem;
      margin-left: 0;
    }
  
    .charity-logos img {
      width: 80%; 
    }
  }
  