.Who-we-are-blue-section {
    background-color: rgba(69, 181, 170, 0.5);
    padding: 15px 0;
    color: black;
    position: relative;
    width: 100%;
    height: auto;
    z-index: -1;
    display: flex;
    flex-direction: column;
}

.Who-we-are-heading {
    text-align: center;
    font-size: 28px;
    color: rgb(255, 125, 64);
    margin: 15px auto;
}

.Who-we-are-image {
  display:flex;
  margin-top: 10px;
  justify-content: center;
  align-items: center;
}

.Who-we-are-image img {
    width: 70%;
    height: auto;
}

.mock-text {
    max-width: 900px;
    margin: 20px auto;
    text-align: center;
    font-size: 18px;
    line-height: 1.6;
    padding: 0 20px;
}
