.link-images {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 10px ;
}

.link-item {
    text-align: center;
    width: 30%;
}

.who-we-are-icon, .what-we-do-icon, .partner-brands-icon, .partner-charities-icon, .press-icon {
    width: 50%;
    height: auto;
    cursor: pointer;
    margin-top: 30px;
    margin-bottom: 5px;
}

.link-description {
    font-size: 14px;
    margin-top: 1px;

}